<div class="fixed h-full w-full" style="z-index: 100; box-shadow: -5px -5px 20px black;">
    <div class="grid grid-cols-3">
        <div class="col-span-2 mt-1 pl-7  relative top-1/2 text-lg font-bold text-blue-600">
            PoweredBy WolfWeb Software Pvt. Ltd.  
        </div>

        <div class="col-span-1 w-full mt-1 relative top-1/2">
            <span class="float-end pr-32 text-base">
                For such application making please visit <a href="" class="text-blue-600" (click)="visitOurSite()">WolfWeb</a>
            </span>
        </div>
    </div>
</div>