<div class="widget-front-panel">
    <div class="header"><mat-icon>home</mat-icon> <span class="headerNmae">Student Profile Page</span></div>

    <div class="widget-top-panel w-full">
        <form class="mt-10 ml-10 mr-10" [formGroup]="profileFormGroup">
            <div class="flex gap-10 mb-3">
                <mat-form-field appearance="outline"  class="w-1/3" style="height: 95% !important;">
                    <span [ngClass]="(profileObj.student_name != null && profileObj.student_name != '') ? 'labelShow' : 'label'">Full Name</span>
                    <input type="text" color="primary" matInput [(ngModel)]="profileObj.student_name" formControlName = "student_name"><!-- placeholder="Enter your Full Name here" -->
                    <mat-error>
                        Full Name required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.mobileno != null && profileObj.mobileno != '') ? 'labelShow' : 'label'">Contact Number</span>
                    <input type="number" matInput [(ngModel)]="profileObj.mobileno" formControlName = "mobileno"><!-- placeholder="Enter your Mobile Number here" -->
                    <mat-error>
                        Mobile Number required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.aadhar_no != null && profileObj.aadhar_no != '') ? 'labelShow' : 'label'">Aadhar Number</span>
                    <input type="number" color="primary" [(ngModel)]="profileObj.aadhar_no" matInput formControlName = "aadhar_no"><!-- placeholder="Enter your Aadhar here" -->
                    <mat-error>
                        Aadhar required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex gap-10 mb-3">
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.email != null && profileObj.email != '') ? 'labelShow' : 'label'">Email</span>
                    <input type="email" color="primary" matInput [(ngModel)]="profileObj.email" formControlName = "email" readonly><!-- placeholder="Enter your Email here" -->
                    <mat-error>
                      email required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.username != null && profileObj.username != '') ? 'labelShow' : 'label'">User Name</span>
                    <input type="text" color="primary" matInput [(ngModel)]="profileObj.username" formControlName = "username" readonly> <!-- placeholder="Enter your User Name here" -->
                    <mat-error>
                    User Name required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.student_id != null && profileObj.student_id != '') ? 'labelShow' : 'label'">Student Id</span>
                    <input type="text" color="primary" [(ngModel)]="profileObj.student_id" matInput formControlName = "student_id" readonly><!--  placeholder="Enter your Password here" -->
                    <mat-error>
                        StudentId required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="flex gap-10 mb-3">
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.bdg != null && profileObj.bdg != '') ? 'labelShow' : 'label'">Blood Group</span>
                    <input type="text" color="primary" matInput [(ngModel)]="profileObj.bdg" formControlName = "bdg"> <!-- placeholder="Enter your BloodGrop here" -->
                    <mat-error>
                      Blood Group required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.enroll_date != null && profileObj.enroll_date != '') ? 'labelShow' : 'label'">Date Of Addmission</span>
                    <input class="date" matInput [(ngModel)]="profileObj.enroll_date" formControlName = "enroll_date" [matDatepicker]="picker"><!--  placeholder="Choose a Join Date" -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.dob != null && profileObj.dob != '') ? 'labelShow' : 'label'">Date Of Birth</span>
                    <input matInput [(ngModel)]="profileObj.dob" formControlName = "dob" [matDatepicker]="picker2"> <!-- placeholder="Choose a Birth Date" -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="flex gap-10 mb-3">
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.stream_id != null && profileObj.stream_id != '') ? 'labelShow' : 'label'">Special Role</span>
                    <mat-select [(ngModel)]="profileObj.stream_id" [ngModelOptions]="{standalone: true}"> <!-- placeholder="Select your Stream here" -->
                        <mat-option *ngFor="let stream of streamArr" [value]="stream.stream_id">
                        {{stream.stream_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.class_id != null && profileObj.class_id != '') ? 'labelShow' : 'label'">Class</span>
                    <mat-select [(ngModel)]="profileObj.class_id" [ngModelOptions]="{standalone: true}"> <!-- placeholder="Select your Class here" -->
                        <mat-option *ngFor="let class of classesArr" [value]="class.class_id">
                        {{class.class_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
                <mat-form-field appearance="outline"  class="w-1/3">
                    <span [ngClass]="(profileObj.subrole_id != null && profileObj.subrole_id != '') ? 'labelShow' : 'label'">subrole</span>
                    <mat-select [(ngModel)]="profileObj.subrole_id" [ngModelOptions]="{standalone: true}"> <!-- placeholder="Select your subrole here" -->
                        <mat-option *ngFor="let subrole of subroleArr" [value]="subrole.subrole_id">
                        {{subrole.subrole_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> 
            </div>
            <div class="flex w-full items-end justify-end">
                <div class="flex w-1/6 flex-col gap-5 justify-end items-center">
                    <label *ngIf="!isshowImg">(upload Your Image)</label>
                    <img class="h-32 w-32 imgBox" [src]="profileObj.photo" *ngIf="isshowImg">
                    <input type="file" id="file-input" (change)="onFileSelected($event)">
                    <label style="width: 50%;" id="file-input-label" for="file-input">Select File</label>
                </div>    
            </div>
            <div class="flex"> 
                <div class="w-1/3 flex flex-row gap-10 mt-2 text-center items-end">
                    <button mat-raised-button class="updateColor" (click)="updateProfile()" [disabled]="profileFormGroup.invalid">
                        Update
                    </button>
                    <button mat-raised-button class="backColor" (click)="goback()">
                        Back
                    </button>
                </div>
            </div>
          </form>
    </div>
</div>



<dialog id="errorModal" class="digModal">
    <div class="digModelInner">
      <div class="headerError">Attention</div>
      <div class="msgError">{{errormsg}}</div>
      <button mat-raised-button color="warn" class="mt-6" onclick="errorModal.close()">Close</button>
    </div>
</dialog>
