    <div style="height: 100vh;">
        <div style="height: 10vh; z-index: 100;" class="mb-2" *ngIf="loggedIn">
            <app-navbar />
        </div>

        <div style="z-index: 10;" [ngStyle]="{ 'height' : (loggedIn) ? '78vh' : '88vh' }">
            <div class="grid grid-cols-6" style="height: 100%;">
                <div class="col-span-1 mr-1" style="height: 100%; overflow-y: auto; overflow-x: hidden;" *ngIf="loggedIn && roleId != 0">
                    <!-- <app-toolbar [roleId]="roleId"/> -->
                </div>
                <div [ngClass]="(loggedIn && roleId != 0) ? 'col-span-6' : 'col-span-6'" class="ml-1" style="height: 100%; overflow-y: auto; overflow-x: hidden;">
                    <router-outlet />
                </div>
            </div>
        </div>

        <div style="height: 8vh;" class="mt-2">
            <app-footer />
        </div>
    </div>

<app-loading-spinner></app-loading-spinner>